{% extends "::base.html.twig" %}

{% block body %}
    <div class="mainmenu"></div>

    <div class="container" id="page">
        <h1>Maintenance</h1>

        <h2>Application is down for maintenance. We will be up and running soon!</h2>

        <div style="text-align: center;">
            You can contact us via support mailbox:
            <a href="mailto:app@company.com?subject=App">Support mailbox</a>
        </div>
    </div>
{% endblock %}